/* Styles go here */
:root {
  --color-primary: #3ea2ea;
  --color-secondary: #b4dcfa;
  --color-white: white;
  --color-black: black;
  --color-nav: rgba(116, 109, 109, 0.6);
  font-family: "Roboto";
}

html,
body,
main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  height: 100vh;
  background: linear-gradient(110.52deg, #202764 0%, #9e3737 99.02%);
  position: relative;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.btn {
  background: #3ea2ea;
  border-radius: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  max-height: 50px;
  cursor: pointer;
}

/* NAV */
.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nav-correct {
  background-color: green;
}
.nav-wrong {
  background-color: red;
}
nav {
  background-color: var(--color-nav);
  height: 60px;
  padding: 0 30px;
}
nav div {
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.error {
  width: 100%;
  text-align: center;
  background-color: red;
  line-height: 0 !important;
  height: 30px;
  padding: auto;
}

/* TOP */
.top {
  margin-top: 60px;
  text-align: center;
  min-height: 400px;
}
.top-box {
  margin: auto;
  padding: 30px 0;
  max-width: 800px;
}

/* BOTTOM */
.bottom {
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px;
  margin: 0;
}
.white-box {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 100px 100px;
  width: 100%;
  margin: 0 10px;
  padding: 10px 30px;
  text-align: center;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 20px;
}
footer a {
  text-align: center;
  background-color: var(--color-nav);
  width: 100%;
  margin: 20px;
  border-radius: 20px;
}

/* GAME */
.game a {
  color: #3ea2ea;
}
.game-pictures {
  display: flex;
  justify-content: space-around;
}
.game-pictures img {
  height: 140px;
  width: 140px;
  border-radius: 70px;
  cursor: pointer;
}

/*COLLECTION*/
.collection {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.collection a {
  width: 70px;
  padding: 0;
  margin: 0px 6px 10px 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.collection img {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}
.collection p {
  margin: 0;
  width: 70px;
}

/* FINISHED */
.finished {
  display: flex;
  justify-content: space-around;
}
.finished img {
  height: 180px;
  width: 180px;
  border-radius: 30px;
}
.finished input {
  width: 60%;
  background-color: var(--color-nav);
  padding: 10px;
  border: none;
  color: var(--color-black);
  margin: 10px 10px;
  border-radius: 10px;
}
.finished p {
  margin: 20px 40px;
}

/* REVIEWS */
.reviews-text {
  text-align: left;
}
.reviews-text a {
  color: #3ea2ea;
}

/* FONTS */
h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
}
h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
}
.p1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
}
